{% load static %}
{% load my_tags %}

<div class="pagination">
 <span class="step-links">
  {% if page.has_previous %}
      <a class="paginator" href="{% next_page %}&page={{ page.previous_page_number }}">Предыдущая </a>
  {% endif %}

    <span class="current">
  Страница {{ page.number }} из {{ page.paginator.num_pages }}
    </span>
  {% if page.has_next %}
        <a class="paginator" href="{% next_page %}&page={{ page.next_page_number }}">Следующая</a>
  {% endif %}
  </span>
</div>
